body{
	font-family: 'Raleway', sans-serif !important;
	background-color: #F8F8F8 !important; 
}
.navbar a {
	color: #616161 !important;
	font-size: 13px !important;
	letter-spacing: 2px;
	text-transform: uppercase !important;
	font-weight: 600;
	transition: color 1s;
}

.navbar a:hover{
	color: #F4B200 !important;
	cursor: pointer;
}

.navbar{
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	margin-bottom: 0px !important;
}
.navbar .navbar-nav .nav-link {
	padding: 0.49rem !important;
}

.banner-title{
	letter-spacing: 3px;
}

.small-title{
	font-size: 22px;
	letter-spacing: 2px;
}

.bg-white{
	background-color: #FFF !important;
	box-shadow: rgba(80, 80, 80, 0.2) 0px 1px 3px, rgba(80, 80, 80, 0.14902) 0px 6px 10px !important;
}

.btn-white{
	border:2px solid #FFF;
	color: #FFF;
	border-radius: 5px;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: 500;
}

.btn-white:hover{
	background-color: #FFF;
	color: #211760;
}

.btn-blue{
	border:2px solid #0799E4;
	color: #FFF;
	background-color: #0799E4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: 500;
}

.btn-blue:hover{
	border: 2px solid #211760;
	background-color: #211760;
}

.btn-yellow{
	border:2px solid #F4B200;
	color: #FFF;
	background-color: #F4B200;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-weight: 600;
}

.btn-yellow:hover{
	background-color: transparent;
	color: #211760;
	border-color: #211760;
}

.service-title{
	padding: 30px;
	font-size: 20px;
	color: #000;
}

.convinced-section{
	border-top:3px solid #A7A7A7;
	border-bottom:3px solid #A7A7A7;
	background: linear-gradient(141deg, rgb(15, 184, 157) 0%, rgb(29, 166, 204) 51%, rgb(35, 141, 181) 75%);
	color: #FFF;
	padding: 20px !important;
}

.convinced-text{
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
}

.btn-convinced{
	background-color: transparent;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 15px;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-convinced:hover{
	border-color: #211760;
	background-color: #211760;
}

.service-section{
	padding-top: 7%;
	padding-bottom: 5%;
	background-color: #F8F8F8;
	margin-bottom: -5%;
}

.mentors-section{
	background-color: #F8F8F8 !important;
	padding: 20px;
}

.mentors-title{
	text-align: center !important;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.mentors-name{
	font-size: 15px;
	font-weight: 600 !important;
}

.underline{
	border-bottom: solid 3px #F4B200;
    display: inline;
    padding-bottom: 3px;
}

.img-raised{
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
}

.mentors{
	margin-top: 5%;
}

.mentor-name{
	color: #000;
	letter-spacing: 1px;
}

.about-mentor{
	font-size: 15px;
}
.social-icons{
	border-bottom: 1px solid #A7A7A7;
    margin-bottom: 2%;
    display: block;
    padding-bottom: 2%;
}
.social-icons a{
	color: #A7A7A7 !important;
	font-size: 25px;
	transition: color 2s;
}

.social-icons a:hover{
	color: #F4B200 !important;
}


.convince-banner-overlay{
	height: 400px;
	background-color: rgba(0, 0, 0, 0.32);	
}

.convince-banner{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}

.convince-banner-content{
	padding:2% 10% 10% 10%;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.logo-container{
	width: 100% !important;
}

.login-fields{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.input-group-addon{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

.card-login{
	border: 2px solid #E4EDF5;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}

.auth-div{
	border: 2px solid #E4EDF5;
	padding: 10%;
	background-color: #F4F7FB;
	position: relative;
	top: 17%;
	height: 110%;
	border-radius: 5px;
}

.form-control{
	border-radius: 5px;
	border: 2px solid #E4EDF5;
	background-color: #FFF;
	color: #000;
	height: 53px;
	font-size: 15px;
	margin-bottom: 3%;
	letter-spacing: 1px;
}

.form-control:focus{
	border: 2px solid #0799E4 !important;
}

.form-element-label{
	font-size: 14px;
    font-weight: 500;
    color: #444;
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}

.login-btn{
	text-transform: uppercase;
	letter-spacing: 1px;
}

a, a:hover{
	color: #0799E4;
}

.form-header h4{
	color: #0799E4;
	margin-top: -5%;
	text-align: center;
	letter-spacing: 1px;
}

.auth-section{
	background-color: inherit;
}

.navbar .navbar-toggler.navbar-toggler-right{
	top: 30px !important;
}

.mid-banner{
	padding-top: 0% !important;
	padding-bottom: 0% !important;
}

.mid-banner-title{
	font-size: 15px;
	text-transform: uppercase;
	z-index: 1;
    color: #FFF;
    text-align: center;
    padding:5% 10% 0% 10%;
}

.mid-banner-title > .big-title{
	font-weight: 700;
	font-size: 30px;
}

.benefits-section{
	padding: 2em;
}

.benefits-title{
	text-align: center !important;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin-bottom: 5%;
}
p{
	font-weight: 400 !important;
}
.benefits{
	padding: 2em;
	font-size: 15px;
	letter-spacing: 1px;
}

.benefits .dots{
	list-style-type: square;
	color: #F4B200;
	font-size: 33px;
}

.dots > p{
    color: #000000;
    font-size: 16px;
    /* ine-height: 0.03rem; */
    margin-bottom: -15px !important;
}

@-moz-document url-prefix() { 
  	.dots > p {
    	margin-bottom: -1px !important;
  	}
}

.pre-footer{
	background-color: #373A3D;
	text-align: center !important;
	color: #fff;
	margin-top: 3%;
}

.prefooter > .footer-logo{
	width: 100% !important;
}

.pre-footer .footer-content{
	padding: 50px 50px 0px 50px;
	font-size: 15px;
	width: 60%;
	margin: 0% 20% 0% 20%;
}

footer{
	background-color: #2C2C2C !important;
	color: #FFF;
}

footer a:hover{
	color: #0799E4 !important; 
	cursor: pointer;
	transition: color 1s;
}

.error{
	position: relative;
    top: 65px;
    padding: .5em 1.5em !important;
    margin: 0px;
    z-index: 9;
    font-size: 15px;
    letter-spacing: 1px;
}

.close{
	position: relative;
    top: -20px;
	cursor: pointer !important;
}


.live-section{
	margin-top: 2%;
	background-color: #F8F8F8;
	background-color: #252525;
    padding: 60px;
} 

.live-chat{
	background-color: #FFFFFF;
	width: inherit;
	border: 2px solid rgba(0, 105, 155, 0.21);
    border-radius: 5px;
    /* padding: 10px; */
    max-height: 460px !important;
    /* overflow-y: scroll; */
}

#messages-section{
	height: 310px;
	overflow-y: scroll;
}

.error-link{
	background-color: #FFF;
	border: 1px solid #FFF !important;
	color: #0799EA;
	cursor: pointer;
	border-radius: 5px !important;
	padding: 3px 15px 3px 15px;
	letter-spacing: normal !important;
    margin-left: 1%;
    transition: 0.5s;
}

.error-link:hover{
	text-decoration: none !important;
	color: #0799E4;
}

.alert-warning{
	background-color: #ce9909 !important;
}

.alert-black{
	background-color: rgba(0, 0, 0, 0.45);
	color: #37b63a;
}

/* .messages-box{

} */
.theatre{
	margin-bottom: -3%;
}
.send-message-box{
	padding: 5%;
	background-color: #f7f7f7;
}

.send-message-box textarea, .send-message-box textarea:focus{
	background-color: #f7f7f7 !important;
	color: #000;
	border-color: #0799E4 !important;
	letter-spacing: normal;
}

input::-webkit-input-placeholder{
	color: #a0a0a0 !important;
}
input:-moz-placeholder{
	color: #a0a0a0 !important;
}
input::-moz-placeholder{
	color: #a0a0a0 !important;
}
input:-ms-input-placeholder{
	color: #a0a0a0 !important;
}

.send-message-box textarea::-webkit-input-placeholder {
color: #b0b0b0 !important;
}
 
.send-message-box textarea:-moz-placeholder { /* Firefox 18- */
color: #b0b0b0 !important;  
}
 
.send-message-box textarea::-moz-placeholder {  /* Firefox 19+ */
color: #b0b0b0 !important;  
}
 
.send-message-box textarea:-ms-input-placeholder {  
color: #b0b0b0 !important;  
}

.send-btn{
	font-size: 20px;
	display: inline;
	color: #0799E4;
	cursor: pointer;
}

.send-btn-container{
	position: relative;
	margin-top: 3%;
}

#messages{
	padding: 10px;
}

#messages > .message > #sender_name{
	font-size: 15px;
    font-weight: 500;
    margin-bottom:1%;
}

#messages > .message > #sent_message{
    padding: 2px;
}

.pricing-table{
    margin-bottom: 20%;
	border: 1px solid #f5f5f5;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding:0px 0px 20px 0px;
}

.table-header, .table-info, .table-footer {
    background-color: #fff;
}

.table-header {
    padding: 40px 30px 0;
    margin-bottom: 7px;
    color: #666;
}

.table-info{
	padding: 50px;
}

.plan-title{
	font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
}

.plan-price{
	background-color: #049deb;
	width: 112px;
    height: 112px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.plan-price .currency-symbol, .plan-price .price {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    display: inline-block;
    margin-top: 25px;
}

.brand-hover:hover{
    background-color: #049deb !important;
    color: #FFF;
    transition: background 0.3s ease-out;
}

.plan-price .currency-code {
    font-size: 12px;
    font-weight: 700;
    display: block;
}

.price{
	transition: all 0.3s ease-out;
}

.pricing-title{
	margin: 3% 0% 5% 0%;
	text-align: center;
}

.pricing-title > h5{
	font-size: 40px;
}

.pricing-title > p{
	font-size: 20px;
}

.testimonies-small-title{
	text-align: center;
	font-size: 15px;
	margin-top: -3% !important;
}

.testimonies-section{
	padding: 35px;
    margin-bottom: -5%;
}

.remove-shadow{
	box-shadow: none !important;
}

.big-quote{
	font-size: 10px;
}

.client-name{
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 2%;
}

.slide{
	padding: 9% 0% 9% 0% !important;
    font-size: 16px !important;
}

.location{
	text-transform: capitalize !important;
	font-weight: 500px;
}

.increase-select-height{
	padding: 10px 18px 10px 18px !important;
    height: 51px !important;
}

.btn-block{
	display: block;
    width: 100% !important;
}

.home-auto-pop{
	margin-top: 0% !important;
}

.close-window{
    font-size: 15px;
    border: 2px solid #F44336;
    padding: 3px;
    color: #FFF;
    font-weigh: 400;
    background-color: #F44336;
    text-decoration: none;
}

#nextField, #submitBtn{
	display: none;
}

.trade-signals{
	min-height: 500px;
	background-color: #171717 !important;
	padding: 30px 0 !important;
}

#signal-content{
	/* width: 70%; */
}
#managed-accounts-banner{
	max-height: 550px !important;
}
#managed-accounts-banner .banner-title{
	font-weight: 500;
    color: #ffffff;
    margin-top: 5%;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: normal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#managed-account-form{
	margin-bottom: .1%;
}

.dots.round{
	list-style: disc;
	color: #FB8608;
}

.dots.round > p{
	margin-bottom: -15px !important;
}

@-moz-document url-prefix() { 
  	.dots.round > p {
	    margin-bottom: -1px !important;
	}
}

.benefits-title.bold {
	font-weight: 500;
}

a[href='#top']{
	font-size: 38px;
	font-weight: 500;
    color: #FFF;
    background-color: #F4B200;
    padding: 1px 10px;
    border-radius: 50%;
    float: right;
    position: relative;
    top: -104px;
    right: 17%;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px 2px rgba(101, 101, 101, 0.54);
    -moz-box-shadow: 0 0 5px 2px rgba(101, 101, 101, 0.54);
    box-shadow: 0 0 5px 2px rgba(101, 101, 101, 0.54);
}

#simple-page-banner{
	max-height: 350px !important
}

#simple-page-banner .content-center{
	top:60% !important;
}

.form-textarea{
	border-radius: 5px !important;
    border: 2px solid #E4EDF5 !important;
    background-color: #FFF !important;
    color: #000 !important;
    height: 120px !important;
    font-size: 15px !important;
    margin-bottom: 3% !important;
    letter-spacing: 1px !important;
    resize: none;
} 

.border-bottom-only:focus{
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
}

.services-thumbs{
	margin-top: 5%;
}

.btn-xl{
	padding: 20px 70px;
    font-size: 1em !important;
}

.make-white:hover{
	border-color: #FFF !important;
	color: #FFF !important;
}

.secondary-menu{
	height: 50px;
	margin: 4% 0% 0% 0%;
	padding-top: 5px !important;
	box-shadow: none;
	background-color: #000;
	position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.secondary-menu .nav-link {
	color: #FFF !important;
}

.modal{
	top: -10% !important;
	overflow-y: hidden !important;
}

.back-to-top-indicator{
	font-size: 13px;
    font-weight: 600;
    padding: 1px 10px;
    border-radius: 50%;
    position: relative;
    top: -40px;
    left: 30%;
}

.backToTop{
	position: absolute;
	right: 15%;
}

.add-hover-color:hover{
	color: #F4B200 !important;
}

.trade-signals-container{
	margin-top: 5%;
	border: 1px solid #d3d3d3;
	box-shadow:  rgba(80, 80, 80, 0.2) 0px 1px 3px, rgba(80, 80, 80, 0.14902) 0px 6px 10px !important;
	background-color: #FFF;
	padding:5px 5px 10px 5px;
	border-radius: 5px;
}

.signal-posted-time{
	margin: 5% 0% 5% 0%;
}

.interaction-icons{
	font-size: 20px;
}

.checkbox label::before, .checkbox label::after {
	border: 2px solid rgba(99, 108, 114, 0.56) !important;
	color: #000 !important;
}

.alert-info, .alert-success, .alert-warning, .alert-danger{
	margin-top: 3% !important;
	margin-bottom: 4.8% !important;
}

.stream-container{
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.stream-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .black-nav{
	background-color: #000;
	height: 50px;
	width: 100px
}

#topmost-bar{
	z-index: 9999999;
    background-color: black;
    padding-bottom: 5% !important;
    height: 50px
} */

/* LIVE video section style */
	* { box-sizing: border-box; }
    .video-background {
        background: #000;
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        ;z-index: -99;
    }
    .video-foreground, .video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
	/* Add some content at the bottom of the video/page */
	.content {
	    position: fixed;
	    bottom: 0;
	    background: rgba(0, 0, 0, 0.5);
	    color: #f1f1f1;
	    width: 100%;
	    padding: 20px;
	}

    @media (min-aspect-ratio: 16/9) {
      .video-foreground { height: 300%; top: -100%; }
    }
    @media (max-aspect-ratio: 16/9) {
      .video-foreground { width: 300%; left: -100%; }
    }
    @media all and (max-width: 600px) {
        .vid-info { width: 50%; padding: .5rem; }
        .vid-info h1 { margin-bottom: .2rem; }
    }
    @media all and (max-width: 500px) {
        .vid-info .acronym { display: none; }
    }
/* Ends... */

/*Profile sidebar menu style*/
	/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}


.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.video > .video__iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
  }

/**/